<% include ../shared/header.ejs %>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3><%= title %></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <% for (var i = 0; i < errors.length; i++) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= errors[i] %>
            </div>
        <% } %>
        
        <form action="/create-database" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <label for="username">Database name:</label>
                <input type="text" name="database" value="<%= database %>" class="form-control" placeholder="Database" required>
            </div>
            <div class="form-group">
                <label for="username">Database engine:</label>
                <select class="form-control" name="engine">
                    <% for (var i = 0; i < engines.length; i++) { %>
                        <option value="<%= engines[i].id %>" <% if (engines[i].id === engine) { %>selected<% } %>>
                            <%= engines[i].text %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="username">Notes:</label>
                <textarea class="form-control" rows="3" name="notes"><%= notes %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Database</button>
        </form>
    </div>
</div>

<% include ../shared/footer.ejs %>